h1 {
	text-align: center;
	font: Impact;
	color: #000000;
}

h5 {
	text-align: left;
	color: #000000;
}


html {
	background-color: #e3e3f6;

}

h3 {
	text-align: center;
}

div {
	text-align: center;
} 

ul {
	text-decoration: none;
}

ul {
	list-style-type: none; 
}
thead {
	text-align: center;
}

a {
	font-size: 18px;
	font: bold;
}

div id="history" {
	text-align: left;
}

body {
	margin: 30px;
}

tbody {
	align: center;
}
